<nav class="navbar fixed-top navbar-expand-md navbar-light">
    <div class="container"> 
        <a routerLink="" class="navbar-brand">BookDetails</a>
        <button class="navbar-toggler fas fa-bars" type="button" data-toggle="collapse" data-target="#navbarMain">
            <span class="navbar-dark"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> 
                    <a routerLink="" routerLinkActive="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item"> 
                    <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
                </li>
                <li class="nav-item"> 
                    <a routerLink="list" routerLinkActive="active" class="nav-link">List</a>
                </li>
                <li class="nav-item"> 
                    <a routerLink="create" routerLinkActive="active" class="nav-link">Create</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
