extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p We are book lovers, of course! Bookinfo gives you the deals you’re looking for. This website is our way of helping people to read more, <br/> pay less, and live life to its fullest. There are articles and author interviews, book lists and reviews.
       