extends layout

block content
   .row.banner
    .col-12
      h1= title
   .row
    .col-12
      img.responsive(src='https://static01.nyt.com/images/2017/05/11/t-magazine/bookstore-slide-2MCD/bookstore-slide-2MCD-superJumbo.jpg' alt='Nature' width='1080' height='1080')
      